{% extends 'base-auth.html.twig' %}

{% block body %}


<div class="auth-form-wrapper card">
    <h1 class="text-center fw-bold mb-4">Welcome back!</h1>
    {{ include('security/_form.html.twig') }}
</div>

{% endblock %}