<div class="modal fade" id="{{ id }}" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Are you sure?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>This operation is irreversible</p>

          <form action="" method="POST">

          {% if delete_form_addons | default(false) %}
          {{ include(delete_form_addons) }}
          {% endif %}

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Close</button>

            {% if delete_id | default(false) %}
            <input type="hidden" name="delete-id" value="{{delete_id}}">
            {% endif %}
            
            <input type="submit" name="{{delete_name}}" value="Delete" class="btn btn-danger">
          </form>
        </div>
      </div>
    </div>
  </div>