<div class="d-flex align-items-center me-4">
	<div class="me-2 rounded" style="width: 1.2em; height: 1.2em; background-color: {{ item_color }}"></div>
	<span class="text-dark fw-bold lh-1">{{ item_text }}</span>
</div>
