{{form_start(password_form)}}

{{ form_row(password_form.plainPassword.first) }}
{{ form_row(password_form.plainPassword.second) }}

<button type="submit" class="btn btn-primary">
    Save new password
</button>

{{form_end(password_form)}}