{{form_start(passwordForm)}}

{{ form_row(passwordForm.plainPassword.first) }}
{{ form_row(passwordForm.plainPassword.second) }}

<button type="submit" class="btn btn-primary">
    Save new password
</button>

{{form_end(passwordForm)}}