{% extends 'base.html.twig' %}

{% block title %}
	{{ meeting.name | title }}
{% endblock %}

{% block heading %}
	Meeting:
	"{{ meeting.name | title }}"
{% endblock %}

{% block body %}
	<h2>Hello</h2>
{% endblock %}
