.card {
  box-shadow: 0 0 3px $gray-300;

  .badge {
    max-height: 1.8em;
  }
}

a.card-body {
  text-decoration: none;
  color: inherit;
  transition: box-shadow 0.2s;
  &:hover {
    box-shadow: 0 0 4px $gray-500;
  }
}
