.icon-button {
    background: none;
    border: none;
    text-decoration: none;
    padding: 4px;
    margin: 0 2px;
    color: $body-color;
    font-size: 1.1em;
    &:hover {
        color: $dark;
    }
}