html,
body {
  min-width: fit-content;
}

html {
  font-size: 14px;
}

body {
  font-family: "Montserrat", sans-serif;
}

label,
legend {
  color: $dark,
}

label.required:after,
legend.required:after {
  content: " *";
  font-weight: normal;
}

.form-check label.required:after {
  content: "";
}

h1,
h2,
h3,
th,
label {
  color: $dark;
}

h1, h2 {
  font-weight: bold;
}

li.list-group-item {
  color: $body-color;
}

a {
  text-decoration: none;
}

.btn {
  text-transform: uppercase;
}
