html,
body {
  min-width: fit-content;
}

body {
  font-family: "Karla", sans-serif;
}

label,
legend {
  font-weight: bold;
}

label.required:after,
legend.required:after {
  content: " *";
  font-weight: bold;
}

.form-check label.required:after {
  content: "";
}

h1,
h2,
h3,
th,
label {
  color: $dark;
}

li.list-group-item {
  color: $body-color;
}
