.main-wrapper {
    min-width: 700px;
    max-width: 1200px;
    margin: 0 auto;
}

.layout-wrapper {
    @extend .main-wrapper;
    padding: 0 10px;
    @media (min-width: 768px) {
        padding: 0 40px;
    }
}