.main-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.layout-wrapper {
    @extend .main-wrapper;
    padding: 30px 10px;
    @media (min-width: 768px) {
        padding: 24px 40px;
    }
}

.nav-wrapper {
    @extend .main-wrapper;
    padding: 10px;
    @media (min-width: 768px) {
        padding: 10px 40px;
    }
}