@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');
@import "~bootstrap/scss/functions";

$primary: #2600bc;
$secondary: #ef6e4b;
$tertiary: #0fcce3;
$body-color: #4c5055;
$dark: #05001a;

@import "~bootstrap/scss/variables";
@import "~bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons";

@import "./layout/index.scss";
@import "./components/index.scss";
