<div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" name="delete-contacts">
    <label class="form-check-label" for="flexCheckDefault">
      Delete contacts associated to company
    </label>
  </div>