{{ include('partials/_filter-user-addon.html.twig') }}

<div class="pe-2">
	<select name="industry" id="industry" class="form-select">
		{% if not industry %}
			<option value="" disabled selected hidden>Choose an industry</option>
		{% endif %}
		{% for i in industries %}
			<option value="{{i.id}}" {{ (i.id==industry) ? 'selected' : '' }}>
				{{i.name}}
			</option>
		{% endfor %}
	</select>
</div>
