<div class="pe-2">
    <select name="stage_id" id="stage" class="form-select">
        <option value="" disabled selected hidden>Choose a stage</option>

        {% for key, value in stages %}

        <option value="{{key + 1}}" {{ (key + 1 == stage) ? 'selected' : '' }}>
            {{value | title}}
        </option>

        {% endfor %}

    </select>
</div>

{{ include('partials/_filter-user-addon.html.twig', { placeholder: 'Assigned to:' }) }}