{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block heading %}Dashboard{% endblock %}

{% block body %}

<section>
    <h2 class="fw-bold fs-5">Last Activity</h2>
    <div class="my-3">
        {{ render_chart(chart) }}
    </div>
</section>

{% endblock %}