{% extends 'base.html.twig' %}

{% block title %}403 error{% endblock %}

{% block heading %}Unauthorized error{% endblock %}

{% block body %}
    <div class="alert alert-danger">
        Ooops! It looks like you are not authorized to do this action.
    </div>
{% endblock %}
